/* 
 *
 * Main stylesheet for Gridlock theme
 *
 * Authored by Lingliang Zhang
 */
body, html {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif; }
  body #home, html #home {
    margin-top: 70px; }
  body h1, body h2, body h3, body h4, body h5, body h6, html h1, html h2, html h3, html h4, html h5, html h6 {
    font-family: 'Lora', serif;
    font-weight: 600; }
  body .text-muted, html .text-muted {
    font-family: 'Lora', serif; }
  body small, html small {
    font-family: 'Roboto Condensed', sans-serif; }
  body img, html img {
    max-width: 100%; }
  body a, html a {
    color: black; }

.text-uncategorized {
  color: #71bcbe; }

.text-features {
  color: #d8ba2e; }

.text-news {
  color: #cc9656; }

.text-opinion {
  color: #86a201; }

.river {
  padding: 0px 10px; }

.colorbox {
  height: 10px;
  width: 10px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #71bcbe; }
  .colorbox.colorbox-features {
    background-color: #d8ba2e; }
  .colorbox.colorbox-opinion {
    background-color: #cc9656; }
  .colorbox.colorbox-news {
    background-color: #86a201; }

.image {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.article-container {
  padding: 10px 0px;
  margin: 0px;
  border: solid;
  border-color: #bbbbbb;
  border-width: 0px;
  border-bottom-width: 0px; }
  .article-container h5 {
    margin-bottom: 0px; }
  .article-container em {
    font-style: normal; }
  .article-container .article-small:first {
    background: red;
    border-color: #bbbbbb;
    border: solid;
    border-width: 0px;
    border-right-width: 1px; }
  .article-container .article-image {
    padding-left: 0px;
    padding-right: 10px;
    height: 240px; }
    .article-container .article-image .image {
      height: 240px; }
    .article-container .article-image .image-overlay {
      display: none; }
  .article-container .article-description {
    min-height: 240px;
    padding-right: 0px;
    padding-left: 10px; }
    .article-container .article-description p {
      font-size: 0.7em; }

.row.row {
  margin: 0px 0px; }
.row.row-article {
  border: solid;
  border-width: 0px 0px 8px 0px;
  border-color: #71bcbe; }
  .row.row-article a:hover, .row.row-article h5:hover {
    color: #71bcbe; }
  .row.row-article.row-features {
    border-color: #d8ba2e; }
    .row.row-article.row-features a:hover, .row.row-article.row-features h5:hover {
      color: #d8ba2e; }
  .row.row-article.row-opinion {
    border-color: #cc9656; }
    .row.row-article.row-opinion a:hover, .row.row-article.row-opinion h5:hover {
      color: #cc9656; }
  .row.row-article.row-news {
    border-color: #86a201; }
    .row.row-article.row-news a:hover, .row.row-article.row-news h5:hover {
      color: #86a201; }

#commentform label {
  margin-right: 30px; }
#commentform #submit {
  margin-left: 95px;
  width: 381px; }

#header {
  padding: 0px 15px; }
  #header .navbar-form {
    width: 70%;
    float: left; }

#sidebar {
  display: none; }

.divider {
  padding: 20px 0px;
  border: solid;
  border-color: #bbbbbb;
  border-width: 0px;
  border-bottom-width: 1px; }

#home .gridlock-row:last-child {
  display: none; }

.editors-row {
  padding: 0 15px;
  padding-bottom: 30px;
  border: solid;
  border-color: #bbbbbb;
  border-width: 0px 0px 1px 0px;
  position: relative; }
  .editors-row .carousel .image {
    height: 300px; }
  .editors-row #editor-images {
    padding-right: 0px;
    padding-left: 0px; }
    .editors-row #editor-images .carousel-caption {
      height: 75px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      bottom: 0px;
      width: 100%;
      right: 0px;
      left: 0px; }
      .editors-row #editor-images .carousel-caption .hidden-sm {
        font-size: 0.8em; }
      .editors-row #editor-images .carousel-caption h5, .editors-row #editor-images .carousel-caption a {
        color: white; }
    .editors-row #editor-images .carousel-control span {
      font-size: 100px;
      margin-top: -80px;
      margin-bottom: -80px; }

@media screen and (min-width: 768px) {
  .river {
    padding: 0px; }

  .editors-row {
    padding-left: 0px;
    padding-right: 0px; }
    .editors-row #editor-labels {
      height: 300px;
      border: solid;
      border-color: #bbbbbb;
      border-width: 1px 1px 1px 0px;
      padding: 0px; }
    .editors-row .pick-label {
      height: 75px;
      border: solid;
      border-color: #bbbbbb;
      border-width: 0px;
      padding: 0px 15px;
      border-width: 0px 0px 1px 0px; }
      .editors-row .pick-label:last-child {
        height: 74px; }
        .editors-row .pick-label:last-child.active {
          height: 73px;
          margin: 0px; }
      .editors-row .pick-label:hover {
        background: rgba(0, 0, 0, 0.65);
        color: white;
        cursor: pointer; }
        .editors-row .pick-label:hover h4, .editors-row .pick-label:hover a {
          color: white; }
      .editors-row .pick-label.active {
        background: rgba(0, 0, 0, 0.8);
        color: white !important;
        cursor: pointer; }
        .editors-row .pick-label.active h4, .editors-row .pick-label.active a {
          color: white; }
    .editors-row .pick-label:last-child {
      border-bottom: 0px; }

  .tab-content {
    padding: 10px;
    height: 258px;
    border: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #bbbbbb; }
    .tab-content ul {
      padding-left: 10px; }
      .tab-content ul h6 {
        margin-bottom: 3px; }
      .tab-content ul small {
        margin-bottom: 10px; }

  .sidebar.row {
    margin-top: 50px; }
    .sidebar.row #editor-box {
      height: 230px; }

  .nav-tabs {
    border-color: #bbbbbb; }
    .nav-tabs li.active a {
      border-color: #bbbbbb;
      border-bottom-color: white; }

  .gridlock-row {
    padding: 15px 0px;
    border: solid;
    border-color: #bbbbbb;
    border-width: 0px;
    border-bottom-width: 1px; }

  .article-medium .article-image {
    padding-right: 15px;
    padding-left: 0px; }
  .article-medium .article-description {
    padding-left: 15px;
    padding-right: 0px; }

  .article-large .article-image {
    padding-right: 10px;
    padding-left: 0px; }
  .article-large .article-description {
    padding-left: 20px;
    padding-right: 0px; }

  .article-small .article-image {
    padding-left: 0px;
    padding-right: 0px; }

  .article-container {
    border-width: 0px 0px 0px 0px;
    padding: 0px 15px;
    margin: 0px; }
    .article-container .article-description.hidden-large {
      display: none; }
    .article-container .article-description p {
      font-size: 0.85em; }
    .article-container .article-image .image-overlay {
      display: block;
      width: 100%;
      min-height: 40px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute; }
      .article-container .article-image .image-overlay .image-overlay-text {
        display: block;
        width: 100%;
        padding-left: 10px; }
        .article-container .article-image .image-overlay .image-overlay-text h5 {
          color: white; }
    .article-container.article-small, .article-container.article-medium:first-child {
      border: solid;
      border-width: 0px;
      border-color: #bbbbbb;
      border-right-width: 1px; }
    .article-container.article-small:last-child {
      border: 0px; }

  .navbar-form {
    width: 30%;
    float: right; }

  #sidebar {
    display: block; }

  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top; }
    .carousel.vertical .item img {
      height: 400px; }
  .carousel.vertical .active {
    top: 0; }
  .carousel.vertical .next {
    top: 400px; }
  .carousel.vertical .prev {
    top: 400px; }
  .carousel.vertical .next.left, .carousel.vertical .prev.right {
    top: 0; }
  .carousel.vertical .active.left {
    top: -400px; }
  .carousel.vertical .active.right {
    top: 400px; }
  .carousel.vertical .item {
    left: 0; }
  .carousel.vertical a.left, .carousel.vertical a.right {
    display: none; }
  .carousel.vertical .carousel-inner {
    height: 300px;
    border: solid;
    border-color: #bbbbbb;
    border-width: 1px 0px 1px 1px;
    box-sizing: border-box; } }
#masthead #title {
  position: absolute;
  margin-top: -120px;
  margin: 20px 0% 0 353px; }
  @media screen and (max-width: 1500px) {
    #masthead #title {
      margin: 20px 0% 0 23%; } }
  @media screen and (max-width: 1300px) {
    #masthead #title {
      margin: 20px 0% 0 25%; } }
  @media screen and (max-width: 1200px) {
    #masthead #title {
      margin: 20px 0% 0 19%; } }
  @media screen and (max-width: 1000px) {
    #masthead #title {
      margin: 20px 0% 0 15%; } }
  @media screen and (max-width: 900px) {
    #masthead #title {
      margin: 20px 0% 0 12%; } }
  @media screen and (max-width: 768px) {
    #masthead #title {
      margin: 20px 0% 0 14%; } }
  @media screen and (max-width: 700px) {
    #masthead #title {
      margin: 20px 0% 0 10%; } }
#masthead #issue {
  line-height: 0.4em;
  position: absolute;
  margin-top: 55px;
  margin-left: 1103px; }
  @media screen and (max-width: 1400px) {
    #masthead #issue {
      margin-left: 1067px; } }
  @media screen and (max-width: 1300px) {
    #masthead #issue {
      margin-left: 1036px; } }
  @media screen and (max-width: 1200px) {
    #masthead #issue {
      top: 30px;
      margin-left: 840px; } }
  @media screen and (max-width: 1000px) {
    #masthead #issue {
      display: none; } }
  #masthead #issue .issuenumber {
    background-color: #00FFFF;
    padding: 5px;
    font-size: 1.5em;
    color: #fff;
    font-family: "Gotham",sans-serif; }
  #masthead #issue .date {
    font-family: "Gotham",sans-serif;
    font-size: 0.8em; }

#nav {
  margin-top: 130px; }
  #nav #logo {
    position: absolute;
    height: 30%;
    width: 75%;
    margin-top: -114px; }
    @media screen and (max-width: 800px) {
      #nav #logo {
        display: none; } }
    #nav #logo img {
      width: 135px;
      right: 0;
      position: absolute;
      margin-right: 92%; }
      @media screen and (max-width: 1500px) {
        #nav #logo img {
          margin-right: 91%; } }
      @media screen and (max-width: 1300px) {
        #nav #logo img {
          margin-right: 89%; } }
      @media screen and (max-width: 1200px) {
        #nav #logo img {
          margin-right: 85%; } }
  #nav ul {
    list-style: none;
    background-color: #000;
    width: 100%;
    max-width: 1112px;
    padding-left: 250px;
    margin-left: 5%;
    font-family: "Gotham",sans-serif;
    text-transform: uppercase;
    position: absolute; }
    @media screen and (max-width: 1500px) {
      #nav ul {
        padding-left: 282px; } }
    @media screen and (max-width: 1400px) {
      #nav ul {
        max-width: 1086px; } }
    @media screen and (max-width: 1300px) {
      #nav ul {
        max-width: 1040px;
        margin-left: 7%; } }
    @media screen and (max-width: 1200px) {
      #nav ul {
        max-width: 820px;
        padding-left: 180px;
        margin-left: 9%; } }
    @media screen and (max-width: 1000px) {
      #nav ul {
        max-width: 640px;
        padding-left: 100px; } }
    @media screen and (max-width: 768px) {
      #nav ul {
        max-width: 643px;
        padding-left: 162px; } }
    @media screen and (max-width: 700px) {
      #nav ul {
        max-width: 600px;
        padding-left: 140px;
        margin-left: 8%; } }
    @media screen and (max-width: 600px) {
      #nav ul {
        max-width: 500px;
        padding-left: 131px; } }
  #nav li {
    display: inline;
    color: #fff;
    font-size: 2.4em;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center; }
    @media screen and (max-width: 1500px) {
      #nav li {
        font-size: 1.9em;
        line-height: 2em; } }
    @media screen and (max-width: 800px) {
      #nav li {
        font-size: 1.52em;
        line-height: 2.5em; } }
    @media screen and (max-width: 700px) {
      #nav li {
        font-size: 1.3em;
        line-height: 2.9em; } }
    @media screen and (max-width: 600px) {
      #nav li {
        font-size: 1em; } }
  #nav #news {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-right: 30px;
    padding-left: 30px; }
    @media screen and (max-width: 1500px) {
      #nav #news {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding-right: 20px;
        padding-left: 20px; } }
    @media screen and (max-width: 1200px) {
      #nav #news {
        padding-right: 5px;
        padding-left: 10px; } }
  #nav #opinions {
    padding-right: 20px; }
    @media screen and (max-width: 1500px) {
      #nav #opinions {
        padding-right: 20px; } }
    @media screen and (max-width: 1200px) {
      #nav #opinions {
        padding-right: 5px; } }
  #nav #featured {
    padding-left: 30px; }
    @media screen and (max-width: 1500px) {
      #nav #featured {
        padding-left: 20px; } }
    @media screen and (max-width: 1200px) {
      #nav #featured {
        padding-left: 5px; } }
  #nav #largesearch {
    border: none; }
    #nav #largesearch input {
      font-size: 1.5em;
      line-height: 2.2em;
      width: 2%;
      right: 0%;
      margin-left: 2px;
      top: 0;
      position: absolute;
      background-image: url("https://cdn4.iconfinder.com/data/icons/brightmix/128/monotone_search_zoom.png");
      background-size: contain;
      background-repeat: no-repeat;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      outline: transparent;
      padding-left: 53px; }
      @media screen and (max-width: 600px) {
        #nav #largesearch input {
          font-size: 1em;
          line-height: 2.4em; } }
  #nav ul:before {
    content: '';
    position: absolute;
    left: -24px;
    border-top: 53px solid transparent;
    border-right: 25px solid black; }
    @media screen and (max-width: 700px) {
      #nav ul:before {
        border-top: 52px solid transparent; } }
    @media screen and (max-width: 600px) {
      #nav ul:before {
        border-top: 40px solid transparent; } }

#body {
  margin-top: 5%; }
